li {
display: inline-block;
align-content: center;
}

.tehtava ol {
list-style: none;
margin-left: 0;
padding-left: 5px;
font-size: 1.125rem !important;
}

.oikein input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid #299617;
    margin-bottom: -1px;
  }
  
.vaarin input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px dashed #DA2C43;
    margin-bottom: -1px;
}

    
#submit {
  border: 0px;
  padding-top: 1em;
}

.dark #submit {
  color: #FFFFFF;
  border: 0px;
  padding-top: 1em;
}

.tehtava #vastauspainike {
  text-align: center;
  margin: 0 auto;
}

form {
  line-height: 2;
}

form input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: inherit;
    background-color: #fafafa;
}

.dark input {
  background-color: #1E2022;
  color: #FFFFFF;
  border-bottom: 1px solid white;
}

.tehtava input[type="text"] {
  text-align: center;
}

.tehtava span {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: inherit;
}

.tehtava input[type="text"] {
    width: 6em;
}

.tehtava span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 6em;
}

.tehtava section {
    position: relative;
    padding: 10px 10px;
    width: 100%;
    float: left;
    background: #fafafa;
    border: 1px solid #d4d4d4;
    }

.dark section {
    background: #1E2022;
     color: #FFFFFF;
     border: 1px solid #181a1b;
  }

 #buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

#hello{
  background: url(/img/kansikuvat/kurssivalikot/kirjoitateht.jpg);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

#hello h {
  font-size: 2.5em!important;
}