div#tehtavavalikko a {
  display: flex;
  color:black !important;
  text-decoration: none !important;
  width: 100%;
  border: 0.0625rem solid #cec4d2;
  border-radius: 0.25rem;
  width: 80%;
  padding: 1em;
  box-shadow: 0 0.125rem 0.375rem #00000040;
}




div#tehtavavalikko a:hover {
  --transform-translate-y: -0.25rem; 
 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
 color: #3B82F6; 
  }