div#tehtavavalikko a {
  display: inline-block;
  color:black !important;
  text-decoration: none !important;
  width: 75%;
  border: 0.0625rem solid #cec4d2;
  border-radius: 0.25rem;
  padding: 1em;
  box-shadow: 0 0.125rem 0.375rem #00000040;
  margin-bottom: -0.7em;
}

.dark div#tehtavavalikko a {
  color: white!important;
}

div#tehtavavalikko a:hover {
 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
 color: #3B82F6!important;
 border: 0.0625rem solid #3B82F6!important;
  }


@media (max-width: 1024px) {
  div#tehtavavalikko a {
    width: 100%;
  }}