{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
  {{ if .Site.Params.widgets.display }}
  <div class="col-span-3 lg:col-span-2 mb-3">
  {{ else }}
  <div class="col-span-3 mb-3">
  {{ end }}
  {{if not .IsHome}}<h2 class="text-4xl dark:text-white mb-3">{{ humanize .Title }}</h2>{{end}}
    {{if .IsHome}}
    <div class="bg-white w-full p-3 lg:max-w-full lg:flex mt-5 hover:-translate-y-1 hover:shadow-md duration-500 dark:bg-warmgray-900 border-white dark:border-black" style="border-radius:4px;box-shadow:0 4px 10px rgb(128 128 128/.1);overflow:hidden;margin-bottom:1.25em;height:fit-content">kullkullukulluikulli</div>
    {{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" "post") (.Site.Params.paginator_pages) )}}
    {{else}}
    {{.Scratch.Set "Paginator" .Paginator}}
    {{end}}
    {{$paginator:=(.Scratch.Get "Paginator")}}
    {{ range $paginator.Pages }}
    <a href="{{.RelPermalink}}">
      {{ .Render "summary" }}
    </a>
    {{ end }}
    {{ partial "paginator.html" . }}
  </div>
  {{ if .Site.Params.widgets.display }}
    {{ partial "widgets.html" . }}
  {{ end }}
</div>
{{ end }}