{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
  {{ if .Site.Params.widgets.display }}
  <div class="col-span-3 lg:col-span-2 mb-3">
  {{ else }}
  <div class="col-span-3 mb-3">
  {{ end }}
  {{if not .IsHome}}<h2 class="text-4xl dark:text-white mb-3">{{ humanize .Title }}</h2>{{end}}
    {{if .IsHome}}
    
  <script>
    const images = [
    "/img/kansikuvat/etusivu/ph1.jpg",
    "/img/kansikuvat/etusivu/ph2.jpg", 
    "/img/kansikuvat/etusivu/ph3.jpg",
    "/img/kansikuvat/etusivu/ph4.jpg"
    ];
    
    function addCSS(css){
  var elem=document.createElement('style');
  if(elem.styleSheet && !elem.sheet)elem.styleSheet.cssText=css;
  else elem.appendChild(document.createTextNode(css));
  document.getElementsByTagName('head')[0].appendChild(elem); 
}

    document.addEventListener('DOMContentLoaded', _ => {
  [...document.getElementsByClassName('randImg')].forEach(e => {
    const randImageIndex = ~~(Math.random() * images.length);
    addCSS("div#randImg {background: images[randImageIndex]}")
  }); 
});
  </script>

    <div class="randImg bg-white w-full p-3 lg:max-w-full lg:flex mt-5 dark:bg-warmgray-900 border-white dark:border-black text-gray-700 text-base pb-5 dark:text-gray-300 h-32 md:h-48 lg:h-52" 
    style="border-radius:4px;box-shadow:0 4px 10px rgb(128 128 128/.1);overflow:hidden;margin-bottom:1.25em;background: url();background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
    <div class="flex bg-white w-full p-3 lg:max-w-full mt-5 dark:bg-warmgray-900 border-white dark:border-black text-gray-700 text-base pb-5 dark:text-gray-300" 
    style="border-radius:4px;box-shadow:0 4px 10px rgb(128 128 128/.1);overflow:hidden;margin-bottom:1.25em;height:fit-content">Tällä sivulla löydät materiaalia ja tehtäviä lukion englannin opiskelua varten. Välikosta voit valita kurssikohtaiset materiaalit tai vapaasti tutkia muuta sisältöä.</div>
    <h2 class="text-2xl dark:text-white mb-3 ml-2 lg:ml-0">Uusimmat julkaisut</h2>
    {{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" "post") (.Site.Params.paginator_pages) )}}
    {{else}}
    {{.Scratch.Set "Paginator" .Paginator}}
    {{end}}
    {{$paginator:=(.Scratch.Get "Paginator")}}
    {{ range $paginator.Pages }}
    <a href="{{.RelPermalink}}">
      {{ .Render "summary" }}
    </a>
    {{ end }}
    {{ partial "paginator.html" . }}
  </div>
  {{ if .Site.Params.widgets.display }}
    {{ partial "widgets.html" . }}
  {{ end }}
</div>
{{ end }}