<div
    class="bg-white w-full p-3 lg:max-w-full lg:flex mt-5 hover:-translate-y-1 hover:shadow-md duration-500 dark:bg-warmgray-800" style="border-radius: 0.5rem; box-shadow: 0 4px 10px rgb(128 128 128 / 10%); overflow: hidden;
    margin-bottom: 1.25em; height: fit-content;">
    {{ if .Site.Params.post.thumbnail }}
    {{ if .Params.image }}
    <img alt="thumbnail" id="thumb"
        class="{{ .Site.Params.post.thumbnail_width }} {{ .Site.Params.post.thumbnail_height }}"
        src="{{ .Params.image | relURL }}" />
    {{ else }}
    {{ if .Site.Params.post.noimage }}
    <img alt="thumbnail" id="thumb"
        class="{{ .Site.Params.post.thumbnail_width }} {{ .Site.Params.post.thumbnail_height }}"
        src='{{ "/img/default.jpg" | relURL }}'>
    {{ end }}
    {{ end }}
    {{ end }}
    <div class="relative pl-4 p-2 justify-between leading-normal max-w-full w-full">
        <div class="text-gray-900 font-bold text-xl mb-2 dark:text-white">{{ .Title }}</div>
        <p class="text-gray-700 text-base pb-5 dark:text-gray-300">{{ substr .Summary 0 300 | plainify | htmlUnescape
            }}...</p>
            {{ with .Params.categories }}
            <div id="categories">
{{ range . }}
<h4 class="text-sm text-gray-600 absolute items-center right-0 bottom-0 dark:text-gray-400" style="text-align:right;"><span class="icon-menu"></span><a style="margin-right:0.6em;" href='{{ "categories" | absURL}}/{{ . | urlize }}'>{{ . }}</a>
{{ end }}

{{ end }}<span class="icon-create"></span><time style="margin-left: 0.6em">{{ .Date.Format "January 02, 2006" }}</time></div>
    </div>
</div>