<footer class="{{ .Site.Params.base_color }} text-white p-6">
    {{ if .Site.Menus.foot }}
    <div class="flex justify-center w-full md:flex md:flex-row sm:items-center sm:w-auto mb-4">
        <div>
            {{ range .Site.Menus.foot }}
            <a href="{{ .URL }}"
                class="no-underline block sm:inline-block duration-200 text-white hover:opacity-50">
                {{ .Name }}
            </a>
            {{ end }}
        </div>
    </div>
    {{ end }}
    <div class="container max-w-screen-xl mr-auto ml-auto">
        <p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}" class="duration-200 hover:opacity-50">{{ .Site.Title }}</a></p>
    </div>
    <script>
        var icon = document.getElementById("icon");
        var icon2 = document.getElementById("icon2");
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (document.documentElement.classList.contains("dark") || localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          icon.classList.remove("icon-moon");
          icon.classList.add("icon-sun");
          icon2.classList.remove("icon-moon");
          icon2.classList.add("icon-sun");
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
        function toggleDarkMode() {
        if (document.documentElement.classList.contains('dark')) {
            icon.classList.remove("icon-sun");
            icon.classList.add("icon-moon");
            icon2.classList.remove("icon-sun");
            icon2.classList.add("icon-moon");
            document.documentElement.classList.remove('dark')
            localStorage.theme = 'light'
        } else {
            icon.classList.remove("icon-moon");
            icon.classList.add("icon-sun");
            icon2.classList.remove("icon-moon");
            icon2.classList.add("icon-sun");
            document.documentElement.classList.add('dark')
            localStorage.theme = 'dark'
        }
    }
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js" integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
const images = Array.from(document.querySelectorAll(".post-content img"));
images.forEach(img => {
  mediumZoom(img, {
    margin: 0, /* The space outside the zoomed image */
  scrollOffset: 40, /* The number of pixels to scroll to close the zoom */
  container: null, /* The viewport to render the zoom in */
  template: null, /* The template element to display on zoom */
  background: 'rgba(0, 0, 0, 0.8)'
  });
});
</script>
</footer>
