<div class="{{ .Site.Params.base_color }}">
    <div class="container max-w-screen-xl mr-auto ml-auto">
        <nav class="flex items-center justify-between flex-wrap {{ .Site.Params.base_color }} p-6">
            <div class="flex items-center flex-no-shrink {{ .Site.Params.base_color }} text-white mr-6">
                <a href="{{ .Site.BaseURL }}"><span class="font-semibold text-2xl tracking-tight">{{ .Site.Title }}</span></a>
            </div>
            <div class="flex md:hidden">
                <div class="py-2">
                    <button onclick="toggleDarkMode()" class="focus:outline-none mr-1" aria-label="Darkmode Toggle Button"><i id="icon"
                            class="icon-moon inline-flex align-middle leading-normal text-lg text-white"></i></button>
                    <span class="text-white">|</span>
                </div>
                <button id="hamburgerbtn" class="flex items-center px-3 py-1 text-white hover:opacity-50" aria-label="Hamburger Button">
                    <span class="icon-menu text-2xl"></span>
                </button>
            </div>
            <div class="hidden w-full md:flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="text-sm lg:flex-grow">
                </div>
                <div class="navmenu">
                    <ul class="links">
                    {{ range .Site.Menus.main }}
                    <li>
                        {{ if .HasChildren }}
                            <a class="dropdown" href="#" class="no-underline duration-200 block mt-4 sm:inline-block sm:mt-0 text-white hover:opacity-50 mr-4">{{ .Name }}</a>
                            <ul class="dropdown-content">
                              {{ range .Children }}
                                <li><a href="{{ .URL }}" class="no-underline duration-200 block mt-4 sm:inline-block sm:mt-0 text-white hover:opacity-50 mr-4">{{ .Name }}</a></li>
                              {{ end }}
                            </ul>
                        {{ else }}
                          <a href="{{ .URL }} " class="no-underline duration-200 block mt-4 sm:inline-block sm:mt-0 text-white hover:opacity-50 mr-4">{{ .Name }}</a>
                        {{ end  }}
                      </li>
                    {{ end }}
                </ul>
                </div>
                <div class="text-white invisible md:visible">
                    <span>|</span>
                    <button onclick="toggleDarkMode()" class="focus:outline-none" aria-label="Darkmode Toggle Button"><i id="icon2"
                            class="icon-moon hover:opacity-50 duration-200 inline-flex align-middle leading-normal text-lg ml-2"></i></button>
                </div>
            </div>
        </nav>
    </div>
</div>
<style>
    .active {
        display: block;
    }
    
.links li ul.dropdown-content {
	margin-left: -1em;
	position: absolute;
	background-color: #1F2937;
	width: inherit;
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	margin-left: none !important;
}

.links li ul.dropdown-content li {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  display: none;
}

.links ul li ul li {
  display: flex;
  width: inherit;
  float:none !important;
  height:auto;
  line-height:40px;
  text-align: left;
  margin-left: 0;
  border-left: none;
}

.links ul li ul li:first-child {
  padding-top: 1em;
}

.links li:hover > ul.dropdown-content li {
    display: flex;
    flex-direction: column;
}
</style>

<script>
    let hamburger = document.getElementById('hamburgerbtn');

    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
</script>
