<head>
    {{- partial "analytics" . -}}
    {{- if .Site.Params.Analytics.Yandexmetrica.Enabled -}}
    {{- end -}}
    <title>{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="theme-color" content="#1F2937">
    <meta property="og:title" content="{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}" />
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">
    <link rel="preload" href="../fonts/open-sans-v29-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/open-sans-v29-latin-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {{ $styles := resources.Get "css/style.css" | postCSS }}
    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}
    <link href=' {{ "/css/blonde.min.css" | relURL }}' rel="stylesheet" type="text/css" media="print"
        onload="this.media=' all'">
    {{ partial "seo/print.html" . }}
    {{ block "header_css" . }}{{ end }}
    <i class="dark hidden"></i>
    </head>