div#kuplasend {
background: #0B93F6;
color: white !important;
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-size: 20px;
font-weight: normal;
max-width: 75%;;
display: flex;
flex-direction: column;
word-wrap: break-word;
margin-bottom: 12px;
line-height: 24px;
position: relative;
padding: 10px 20px;
border-radius: 25px;
margin-left: auto; 
margin-right: 0;
padding:1.5em;
}

div#kuplareceive {
background: #E5E5EA;;
color: black !important;
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-size: 20px;
font-weight: normal;
max-width: 75%;
display: flex;
flex-direction: column;
word-wrap: break-word;
margin-bottom: 12px;
line-height: 24px;
position: relative;
padding: 10px 20px;
border-radius: 25px;
padding:1.5em;
}

div#kuplasend, strong {
    color: white;
}

div#kuplareceive, strong {
    color: black;
}