.valikko-teksti {
  display: flex;
  width: 100%;
  margin: 1em;
  display: inline-flex;
  border: 0.0625rem solid #cec4d2;
  border-radius: 0.25rem;
  width: 80%;
  margin-top: 1em;
  padding: 1em;
  box-shadow: 0 0.125rem 0.375rem #00000040;
  :hover {--transform-translate-y: -0.25rem;
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
}
