{{ if .Site.Taxonomies.categories }}
<div class="panel pb-5 dark:bg-warmgray-900">
    <p class="text-xl text-center text-gray-700 py-5 dark:text-gray-300" style="font-size:175%;font-weight:300">Aihealueet</p>
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <a class="text-center block duration-100 py-2 px-4 mx-4 hover:bg-gray-100 hover:text-blue-500 text-gray-800 dark:text-gray-200 dark:hover:bg-warmgray-800" style="background-color: #0076a1; border-radius: 0.5rem;margin: 0.3em;color: white;"
        href="{{ $.Site.BaseURL }}/categories/{{ $key | urlize  }}">{{ $key | humanize }}</a>

    {{ end }}
</div>
{{ end }}