<div class="bg-white panel mb-3 pb-5 dark:bg-warmgray-900">
    <p class="text-xl text-center text-gray-700 py-3 px-3 dark:text-gray-300">PJMM - Lukion englannin materiaalia</p>

    <p class="text-m py-5 px-5 text-color-black">
    
    Heipä hei ja tervetuloa ja sellasta. Moro.
</p>

<p class="text-m py-5 px-5 text-color-black">
    Aikaa seuraaviin englannin ylioppilaskirjoituksiin:
    </p>

        </head>
        <body>
        
        <p style="text-align: center; font-size: 15px; margin-top: 0px;" id="demo"></p>
        
        <script>
        // Set the date we're counting down to
        var countDownDate = new Date("March 21, 2022 09:00:0").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
            
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
            
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
          // Output the result in an element with id="demo"
          document.getElementById("demo").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";
            
          // If the count down is over, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "SEURAAVALLA KERRALLA";
          }
        }, 1000);
        </script>
        
        </body>
        </html>
        

</div>