{{ if .Site.Taxonomies.tags }}
<div class="panel dark:bg-warmgray-900">
    <p class="text-xl text-center text-gray-700 py-3 pl-3 dark:text-gray-300" style="font-size:175%;font-weight:300">Tunnisteet</p>
    <div class="panel-block p-2">
        {{- $.Scratch.Set "myLimit" 0 }}
        {{- range $termName, $entries := .Site.Taxonomies.tags }}
        {{- $.Scratch.Set "myLimit" (add ($.Scratch.Get "myLimit") 1) }}
        {{- if le ($.Scratch.Get "myLimit") ($.Site.Param `tagslimit`) }}
        <a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}">
            <span
                class="duration-100 inline-flex py-2 leading-4 mr-2 mb-2 content-center justify-center h-8 px-3 hover:text-blue-500 dark:bg-warmgray-800" style="background-color:#0076a1; color:white;border-radius:0.5rem;">
                {{ $termName }}
            </span></a>
        {{- end }}
        {{- end }}
    </div>
</div>
{{ end }}