{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
    {{ if .Site.Params.widgets.display }}
    <div class="col-span-3 lg:col-span-2 dark:text-white">
        {{ else }}
        <div class="col-span-3 dark:text-white">
            {{ end }}
            <div class="bg-white dark:bg-warmgray-900 p-5 my-4" style="border-radius: 0.5em; overflow: hidden;
            margin-bottom: 1.25em; height: fit-content; font-family: 'Open Sans'">
                <h1 class="mb-1 text-4xl" style="padding-right: 0.5em; padding-top: 0.5em; padding-bottom: 0.2em;">{{.Title}}</h1>
                <aside id="meta">
                    <div>
                        <section>
                                {{ with .Params.categories }}
                                                                <div id="categories">
                                    {{ range . }}
                                    <h4 style="padding-bottom: 1.0em"><a class="duration-100 inline-flex py-2 leading-4 mr-2 mb-2 content-center justify-center h-8 px-3 hover:bg-sininen-2" style="border-radius: 0.5rem;margin: 0.3em; margin-right:0.6em;" href='{{ "categories" | absURL}}/{{ . | urlize }}'>{{ . }}</a>-
                                    {{ end }}
                                
                                {{ end }} 
                            <span style="margin-left:0.6em"><span class="icon-calendar_edit"></span>{{ .Date.Format "January 02, 2006" }}</span>
                            </h4> </div>
                        </section>
                    </div>
                </aside>
                {{ if .Params.image }}
                <img class="py-4" style="align-items: center;justify-content: center;/* display:flex; */margin: auto;" src="{{ .Params.image | absURL }}">
                {{ end }}
                <div class="content prose md:prose-lg lg:prose-xl max-w-none dark:prose-invert mt-5" id="sisalto">{{.Content}}</div>
                <aside id="meta">
                    {{ with .Params.tags }}
                     <div id="tags" class="flex" style="flex-wrap: wrap; justify-content: center;">
                        {{ range . }}
                        <span
                            class="inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-sininen hover:bg-sininen-2 text-white justify-center h-8 px-2 duration-200 rounded-md" style="padding-top:1.2em;padding-bottom:1.2em;align-items:center;"><a
                                href='{{ "tags" | absURL}}/{{ . | urlize }}'>{{ . }}</a></span>
                        {{ end }}
                    </div>
                    {{ end }}
                </aside>
            </div>
            <div class="bg-white dark:bg-warmgray-900 p-5 my-4" style="border-radius: 0.5em;overflow: hidden;
            margin-bottom: 1.25em; height: fit-content;">
                <div class="grid grid-cols-1">
                    <div class="col-span-1">
                        {{ with .PrevInSection }}
                        <a class="previous lg:text-1xl" href="{{.Permalink}}">
                            <div
                                class="transition-colors duration-300 border border-gray-600 hover:border-black h-auto m-3 text-center py-3 lg:py-1">
                                <span class="icon-keyboard_arrow_left"></span> {{.Title}}
                            </div>
                        </a>
                        {{ end }}
                    </div>
                    {{ with .NextInSection }}
                    <a class="next lg:text-1xl" href="{{.Permalink}}">
                        <div
                            class="transition-colors duration-300 col-span-1 border border-gray-600 hover:border-black h-auto m-3 text-center py-3 lg:py-1">
                            {{.Title}} <span class="icon-keyboard_arrow_right"></span>
                        </div>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ if .Site.Params.widgets.display }}
        <div class="hidden lg:block lg:col-span-1" style="border-radius: 0.5rem; overflow: hidden;
        margin-bottom: 1.25em; height: fit-content;">
                <div class="bg-white panel pb-5 dark:bg-warmgray-900 dark:text-gray-300" style="font-family: 'Open Sans'" id="toc">
                    <script>$(document).ready(function() {
                        if ($('#toc li').length === 0) {
                            $('#toc').css('display', 'none');
                        }
                    });</script>
    <p class="text-center text-xl text-center text-gray-700 py-5 dark:text-gray-300" style="font-weight:300; font-size:175%">Sisältö</p>
    <aside  style="font-family: 'Open Sans'" class="px-5">
        {{.TableOfContents}}
    </aside>
</div>
            {{ partial "widgets/category.html" . }}
            {{ partial "widgets/tags.html" . }}
            {{ partial "widgets/recent.html" . }}
        </div>
        {{ end }}
    </div>
    {{ end }}