{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
    {{ if .Site.Params.widgets.display }}
    <div class="col-span-3 lg:col-span-2 dark:text-white">
        {{ else }}
        <div class="col-span-3 dark:text-white">
            {{ end }}
            <div class="bg-white dark:bg-warmgray-900 p-5 my-4">
                <h1 class="mb-2 text-4xl">{{.Title}}</h1>
                {{ if .Params.image }}
                <img class="py-4" src="{{ .Params.image | absURL }}">
                {{ end }}
                <div class="content prose md:prose-lg lg:prose-xl max-w-none dark:prose-invert mt-5" id="sisalto">{{.Content}}</div>
                <aside id="meta">
                    {{ with .Params.categories }}
                    <hr class="py-4">
                    <div id="categories">
                        <span class="icon-folder text-xl mr-1"></span>
                        {{ range . }}
                        <span
                            class="inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-200 justify-center h-8 px-3 text-blue-500 duration-200 hover:text-black dark:bg-warmgray-800"><a
                                href='{{ "categories" | absURL}}/{{ . | urlize }}'>{{ . }}</a></span>
                        {{ end }}
                    </div>
                    {{ end }}
                </aside>
            </div>
        </div>
        {{ if .Site.Params.widgets.display }}
        <div class="hidden lg:block lg:col-span-1">
            {{ partial "widgets/category.html" . }}
            {{ partial "widgets/tags.html" . }}
            {{ partial "widgets/recent.html" . }}
        </div>
        {{ end }}
    </div>
    {{ end }}